[submodule "vendor/enkiTS"]
	path = vendor/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "vendor/fastgltf"]
	path = vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "vendor/GameNetworkingSockets"]
	path = vendor/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
