.idea/
build/
build-release/
build-debug/
build-native/
build-macos/
build-linux/
build-windows/
build-emscripten/
build-web/
android/app/.cxx
android/app/build
.cache/
Editor/
.vscode/


CMakeLists.txt.user
*.DS_Store
